html {
    font-size: 9px;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

ul,
li {
    list-style: none;
}

a:link {
    text-decoration: none;
    color: var(--color-white);
}

a:visited {
    text-decoration: none;
    color: var(--color-white);
}

/* home page */

.home {
    background-color: #000;
}

.home header {
    position: fixed;
    top: 0;
    padding: 2.5rem;
    height: 5vh;
    z-index: 5;
    color: whitesmoke;
}

.home header h1 {
    font-size: 3rem;
    font-weight: 200;
    float: left;
    font-family: 'Bonheur Royale', cursive;
}

.home header small {
    display: inline-block;
    font-size: 1em;
    font-weight: 100;
    font-family: 'Nanum Pen Script', cursive;
}

.main {
    background-color: black;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    width: 100vw;
}

#asia {
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('img/asia.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;

}

#europe {
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("img/europe.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;

}

#n-america {
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("img/n-america.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

#s-america {
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("img/s-america.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;

}

#africa {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("img/africa.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

.container {
    width: 20vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: all 0.2s ease-in;
    transition-delay: 0ms;
}
/* 
.container:hover {
    width: 30vw;
} */

.container.focus {
    filter: brightness(30%);
}

.coming-soon {
    position: absolute;
    top: 300px;
    width: 150px;
    height: 150px;
    background: url(./img/coming-soon.png) no-repeat;
    background-size: contain;
    filter: opacity(0.5) drop-shadow(0 0 0 red);
    z-index: 1;
}

.container h1 {
    color: whitesmoke;
    font-size: 3.5em;
    font-style: normal;
    font-variant-ligatures: normal;
    font-variant-caps: normal;
    font-variant-numeric: normal;
    font-variant-east-asian: normal;
    font-weight: bold;
    font-stretch: normal;
    line-height: 1;
    font-family: 'Roboto', sans-serif;
    letter-spacing: -1.5px;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
}


footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
    height: 5vh;
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
    color: whitesmoke;
}

footer p {
    margin-left: 1vw;
    font-size: 2rem;
    font-family: 'Bonheur Royale', cursive;
}

footer i {
    color: whitesmoke;
    font-size: 3rem;
    margin-right: 2vw;
}

footer i:hover {
    color: gold;
    cursor: pointer;
}

.container {
    display: flex;
    flex-direction: row;
}



/* asia page */

.country {
    background-color: #000000;

}

.country header {
    margin: 0 5vw;
    display: flex;
    width: 90vw;
    margin-top: 2vh;
    color: whitesmoke;
    justify-content: space-between;
}

.country header h1 {
    font-size: 5rem;
    font-weight: 200;
    float: left;
    font-family: 'Bonheur Royale', cursive;
}

.country header small {
    display: inline-block;
    font-size: 1.5em;
    font-weight: 100;
    font-family: 'Nanum Pen Script', cursive;
}

.countrys {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 2rem;
    color: whitesmoke;
}

.country li {
    margin-right: 2vw;
    color: whitesmoke;
    padding: 5px;
}

.country li:hover {
    background-color: olive;
}

.active {
    border: 1px solid whitesmoke;
    border-radius: 2px;

}

.navbar_toggle-btn {
    position: absolute;
    display: none;
    font-size: 2.5em;
    right: 10px;
    background-color: transparent;
    border: none;
    color: whitesmoke;

}

.countrys.open {
    display: block;
    margin: 0;
    width: 100%;
    text-align: center;
}

.left-navbar {
    position: fixed;
    position: -webkit-sticky;
    top: 5vh;
    left: 1vw;
    display: inline-flex;
    transform: scaleY(0);
    flex-direction: column;
    color: whitesmoke;
    text-align: center;
    transition: all .2s ease-in;
}

.logo {
    margin: 0 auto;
}

.logo::after {
    display: block;
    content: "";
    clear: both;
    margin-bottom: 15px;
}

.left-navbar h1 {
    font-size: 3rem;
    font-weight: 200;
    float: left;
    font-family: 'Bonheur Royale', cursive;
}

.left-navbar small {
    font-size: .5em;
    font-weight: 100;
    font-family: 'Nanum Pen Script', cursive;
    clear: left;
}

.left-navbar li {
    margin: 5px 0;
    font-size: 2em;
}

.title {
    margin: 5vh 5vw;
    height: 550px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title-container {
    position: absolute;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5em;
    color: whitesmoke;
    font-family: 'Bonheur Royale', cursive;
}

.img-container {
    width: 80%;
    height: 100%;
    overflow: hidden;
    border-radius: 10px;
}

.img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(60%);
}

.sub-title {
    font-size: 30px;
    color: whitesmoke;
    text-align: center;
    margin: 5% 15%;
    border-top: 3px solid gray;
    padding-top: 5%;
}

.card-container {
    width: 90%;
    margin: 5vh auto;
    padding: 0 5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.flip-card {
    background-color: transparent;
    width: 22vw;
    height: 22vw;
    perspective: 1000px;
    padding: 2vw;
}

/* This container is needed to position the front and back side */
.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    /* Safari */
    backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
    color: black;
}


.flip-card-front>img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    filter: brightness(80%);
}

.flip-card .coming-soon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: url(./img/coming-soon.png) no-repeat;
    background-size: contain;
    filter: opacity(0.5) drop-shadow(0 0 0 red);
    z-index: 1;
}


.desc-front {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0%;
    left: 0%;
}

.desc-front h3 {
    margin: 10px 0;
    color: whitesmoke;
    font-size: 1.5em;
}

.desc-front>h1 {
    color: whitesmoke;
    font-size: 5em;
    font-style: normal;
    font-variant-ligatures: normal;
    font-variant-caps: normal;
    font-variant-numeric: normal;
    font-variant-east-asian: normal;
    font-weight: bold;
    font-stretch: normal;
    line-height: 1;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 2px;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
}

/* Style the back side */
.flip-card-back {
    background-size: cover;
    color: white;
    transform: rotateY(180deg);
}

.flip-card-back>img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    filter: brightness(40%);
}

.flip-card-back h1::after {
    display: block;
    position: relative;
    left: 50%;
    content: '';
    width: 50px;
    height: 2px;
    transform: translateX(-50%);
    margin-top: 8px;
    background-color: gray;
    margin-bottom: 8px;
}

.desc-back {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0%;
    left: 0%;
}

.desc-back h1 {
    font-size: 4rem;
}

.desc-back p {
    font-size: 1.5rem;
}

/* country page */
.scroll-container {
    background-color: blueviolet;
    width: 70%;
    height: 800vh;
    margin: 3rem auto;

}
.scroll-img {
    position: fixed;
    margin: 0 auto;
    left: 0;
    right: 0;
    background: url("./video/img_0.jpg");
    width: 720px;
    height: 404px;
}

@media screen and (max-width: 800px) {

    /* mobile home page */

    .home header{
        position: sticky;
        background-color: black;
        margin: 0;
        padding: 1em;
    }

    .main {
        margin: 0;
        flex-direction: column;
    }

    .main .container {
        width: 100%;
        height: 200px;
        position: relative;
    }

    .container h1 {
        font-size: 4em;
    }

    .coming-soon {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    footer {
        width: 100%;
    }

    footer p{
        font-size: 1.5em;
    }

    footer .contact {
        font-size: 2em;
        margin-right: 20px;
    }

    /* mobile continent page */
    .country header {
        margin-top: 2vh;
        flex-direction: column;
    }

    .country header h1 {
        font-size: 3rem;
    }

    .country header small {
        font-size: .5em;
    }

    .countrys {
        display: none;
    }


    .navbar_toggle-btn {
        display: block;
    }

    .title {
        margin: 2% 0;
        height: 350px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .title-container {
        position: absolute;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 15px;
        color: whitesmoke;
        font-family: 'Bonheur Royale', cursive;
    }

    .sub-title {
        font-size: 2em;
    }

    .card-container {
        margin-top: 3vh;
        flex-direction: column;
    }

    .flip-card {
        width: 50vw;
        height: 50vw;
    }


    .flip-card .coming-soon {
        width: 100px;
    }

    .desc-front>h1 {
        font-size: 3em;
    }

}